.menu {
    text-align: center;
    padding: 10px;
}

.menu a {
    color: white;
    font-size: 28px;
    text-decoration: none;
}

.menu:hover {
    background-color: green;
    color: black;
}

/****** CARROUSEL *******/

.carousel-caption {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 1px black;
}

.foto-redes {
    width: 60px;
    align-content: center;
    margin: 20px 30px;
}

.redes-sociales {
    text-align: center;
}

.container hr {
    border-color: black;
}

.rescate {
    text-align: right;
    padding-top: 5px;
}

.container img {
    width: 100%;
    height: 250px
}

h6 {
    color: gray;
}

.rescatados {
    padding-top: 50px;
}

.rescatados img {
    width: 100%;
    margin-top: 15px;
}

.footer {
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 50px;
}

.boton-campania {
    padding-bottom: 30px;
}

.formulario {
    padding-top: 30px;
}

.auto {
    height: 350px;
    object-fit: cover;
}

.verde {
    background-color: rgba(109, 204, 170, 100);
}

.verde-claro {
    background-color: rgba(133, 212, 183, 100);
}

.img-thumbnail {
    max-width: 300px;    
}

table td{
    font-size: 1.2rem;
}

@media (max-width: 576px) {
    .carousel-item img {
        height: 350px;
    }
}

@media (min-width: 576px) {
    .carousel-item img {
        height: 500px;
    }
}

@media (max-width: 768px) {

    .carousel-item img {
        height: 500px;
    }
}

@media (min-width: 768px) {
    .carousel-item img {
        height: 500px;
    }
}

@media (max-width: 992px) {

    .carousel-item img {
        height: 500px;
    }
}

@media (min-width: 992px) {
    .carousel-item img {
        height: 500px;
    }
}

@media (max-width: 1200px) {

    .carousel-item img {
        height: 500px;
    }

    .fotos_galerias {
        height: 250px;
    }
}

@media (min-width: 1200px) {
    .carousel-item img {
        height: 600px;
    }

    .fotos_galerias {
        height: 300px;
    }
}