{% load static %}
<img class="img-fluid mx-5" src="{% static 'img/logo.png' %}" alt="">
<nav>
    {% if user.is_authenticated and user is not None %}
    <div class="d-flex flex-row-reverse py-2 mr-md-3">
        <h4 class="text-light text-capitalize">Bienvenido: {{user.username}}</h4>
    </div>

    <div class="d-flex flex-row-reverse py-2 mr-md-3">
        <!--<h4 class="text-light text-capitalize"></h4>-->
    </div>

    <div class="d-flex flex-row-reverse pb-4 mr-3">
        <a class="btn btn-light ml-3" href="{% url 'cerrar_sesion' %}">Cerrar Sesion</a>
        <a class="btn btn-light ml-3" href="{% url 'mantenedor_admin' %}">Administrador</a>
    </div>

    {% else %}
    <div class="d-flex flex-row-reverse pb-4 mr-3">
        <a class="btn btn-light ml-3 mt-3" href="{% url 'login' %}">Ingresar</a>
        <a class="btn btn-light ml-3 mt-3" href="{% url 'signin' %}">Registrarse</a>
    </div>
    {% endif %}
</nav>