{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="icon" href="{% static 'img/pata.ico' %}">
    <link rel="manifest" href="/manifest.json" />
    <title>Mis Perris</title>
</head>

<body>
    <header class="d-flex flex-column flex-md-row justify-content-between align-items-center border-bottom bg-success">
        {% include "header.html" %}
    </header>


    <div class="container-fluid verde-claro">

        <div class="row">

            <div class="col-12 col-md-6 col-lg-2 col-xl-3 menu verde">
                <a href="{% url 'index' %}">Inicio</a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 menu verde">
                <a href="#">Quienes somos</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-3 menu verde">
                <a href="#">Servicios</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-3 menu verde">
                <a href="{% url 'rescatados' %}">Rescatados</a>
            </div>
        </div>
    </div>

    <!--***************************** CAROUSEL ****************************-->
    <div class="container-fluid p-5 verde-claro">
        <div class="row">
            <div class="col-12">
                <div id="principal-carousel" class="carousel slide rounded" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#principal-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#principal-carousel" data-slide-to="1"></li>
                        <li data-target="#principal-carousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Lo que Muestra -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{% static 'img/adoptados/Tom.jpg' %}" alt="First slide">
                            <div class="carousel-caption">
                                <p class="text-light">"Estamos felices de tener a Tom en casa. Es un super fiel
                                    compañero"</p>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'img/adoptados/Duque.jpg' %}" alt="Second slide">
                            <div class="carousel-caption">
                                <p class="text-light">"Estamos felices de tener a Duque en casa. Es un super fiel
                                    compañero"</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-caption d-block">
                                <p class="text-light">"Estamos felices de tener a Apolo en casa. Es un super fiel
                                    compañero"</p>
                            </div>
                            <img class="d-block w-100" src="{% static 'img/adoptados/Apolo.jpg' %}" alt="">
                        </div>
                    </div>
                    <!--Controles izquierda y derecha -->
                    <a href="#principal-carousel" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>

                    <a href="#principal-carousel" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid verde-claro redes-sociales">
        <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <a href="https://facebook.com">
                    <img src="{% static 'img/facebook_circle-512.png' %}" class="foto-redes">
                </a>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <a href="https://plus.google.com">
                    <img src="{% static 'img/google.png' %}" class="foto-redes">
                </a>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <a href="https://instagram.com">
                    <img src="{% static 'img/instagram.jpg' %}" class="foto-redes">
                </a>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <a href="https://gmail.com">
                    <img src="{% static 'img/email.png' %}" class="foto-redes">
                </a>
            </div>
        </div>
    </div>
    <div class="container rescate">
        <div class="row">
            <div class="col-6 col-sm-8 col-md-9 col-lg-9 col-xl-9">
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3">
                <h2>RESCATE</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-8 col-sm-9 col-md-10 col-lg-10 col-xl-10">
            </div>
            <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                <h6>ETAPA UNO</h6>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p>Recatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los preparamos para
                    buscarles
                    un hogar.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-4 col-md-6 col-lg-6 col-xl-6"></div>
            <div class="col-11 col-sm-8 col-md-6 col-lg-6 col-xl-6">
                <img src="{% static 'img/rescate.jpg' %}" alt="">
            </div>
        </div>
    </div>
    <br>
    <div class="container crowfunding">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <img src="{% static 'img/crowfunding.jpg' %}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                <h2>CROWFUNDING</h2>
            </div>
            <div class="col-8 col-sm-8 col-md-9 col-lg-9 col-xl-9">
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                <h6>FINANCIAMIENTO</h6>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que
                    realizamos
                    para obtener financiamiento para seguir ayudando.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container boton-campania">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <button type="button" class="btn btn-outline-dark btn-lg">
                    <b>CAMPAÑAS</b>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid verde py-5 px-5">
        <div class="row">
            {% for foto in galeria %}
            {% if foto.estado == "Disponible" %}
            <div class="col-sm-6 col-md-4">
                <div class="card my-4 shadow-lg">
                    <img src="/media/{{ foto.fotografia }}" class="card-img-top fotos_galerias" alt="">
                    <div class="card-body">
                        <p class="card-text h5 text-center text-capitalize">{{foto.nombre}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-outline-secondary">Ver</button>
                            </div>
                            <span class="badge badge-primary text-capitalize">
                                <p class="m-0 p-1 h6">{{foto.estado}}</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


            {% endfor %}
        </div>
        <div class="row">
            {% for foto in galeria %}


            {% if foto.estado == "Rescatado" %}
            <div class="col-sm-6 col-md-4">
                <div class="card my-4 shadow-lg">
                    <img src="/media/{{ foto.fotografia }}" class="card-img-top fotos_galerias" alt="">
                    <div class="card-body">
                        <p class="card-text h5 text-center text-capitalize">{{foto.nombre}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-outline-secondary">Ver</button>
                            </div>
                            <span class="badge badge-success text-capitalize">
                                <p class="m-0 p-1 h6">{{foto.estado}}</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


            {% endfor %}
        </div>
        <div class="row">
            {% for foto in galeria %}


            {% if foto.estado == "Adoptado" %}
            <div class="col-sm-6 col-md-4">
                <div class="card my-4 shadow-lg">
                    <img src="/media/{{ foto.fotografia }}" class="card-img-top fotos_galerias" alt="">
                    <div class="card-body">
                        <p class="card-text h5 text-center text-capitalize">{{foto.nombre}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-outline-secondary">Ver</button>
                            </div>
                            <span class="badge badge-info text-capitalize">
                                <p class="m-0 p-1 h6">{{foto.estado}}</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>



    <div class="container-fluid footer">
        <h4>Desarrollo Web y Mobile</h4>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>

</body>

</html>