{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="icon" href="{% static 'img/pata.ico' %}">
    <link rel="manifest" href="/manifest.json" />
    <title>Mis Perris</title>
</head>

<body>
    <header class="d-flex flex-column flex-md-row justify-content-between align-items-center border-bottom bg-success">
        {% include "header.html" %}
    </header>
    <div class="container-fluid verde-claro">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-2 col-xl-3 menu verde">
                <a href="{% url 'index' %}">Inicio</a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 menu verde">
                <a href="#">Quienes somos</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-3 menu verde">
                <a href="#">Servicios</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-3 menu verde">
                <a href="{% url 'rescatados' %}">Rescatados</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 mt-5">
                <h1 class="text-center">Inicio de sesion</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid p-5">
        <form method="POST" class="form-signin" action="{% url 'login_iniciar' %}">
            {% csrf_token %}
            <div class="form-group row justify-content-center">
                <div class="col-8 col-xl-6">
                    <label for="nombre_usuario">Nombre de usuario</label>
                    <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" placeholder="Nombre de usuario">
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-8 col-xl-6">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña">
                </div>
            </div>
            <div class="form-group row justify-content-center mt-5">
                <div class="col-auto">
                    <button type="submit" class="btn btn-success btn-block">Iniciar Sesion</button>
                </div>
            </div>
            <div class="form-group row justify-content-center mt-5">
                <div class="col-auto">
                    <h6>¿Problemas con la contraseña?: <a href="{% url 'restablecer_contrasena' %}">Recuperar
                            contraseña</a></h6>
                </div>
            </div>
            <div class="form-group row justify-content-center mt-5">
                <div class="col-auto">
                    <a href="{% url 'social:begin' 'facebook' %}">Facebook Login</a>
                    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>

                </div>
            </div>

        </form>
        <h2 class="text-center">{{error}}</h2>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>