{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="icon" href="{% static 'img/pata.ico' %}">
    <link rel="manifest" href="/manifest.json" />
    <title>Mis Perris</title>
</head>

<body>
    <header class="d-flex flex-column flex-md-row justify-content-between align-items-center border-bottom bg-success">
        {% include "header.html" %}
    </header>
    <div class="container-fluid verde-claro">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-2 col-xl-3 menu verde">
                <a href="{% url 'index' %}">Inicio</a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 menu verde">
                <a href="#">Quienes somos</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-3 menu verde">
                <a href="#">Servicios</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-3 menu verde">
                <a href="{% url 'rescatados' %}">Rescatados</a>
            </div>
        </div>
    </div>

    <div class="container-fluid my-5">
        <div class="card shadow-lg m-5">
            <div class="card-header bg-success">
                <h2 class="text-center">Lista de rescatados</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table my-4">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Raza prodominante</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Estado</th>
                                {% if lista_rescatados is not None %}
                                <th scope="col">Opciones</th>
                                {% endif %}

                            </tr>
                        </thead>
                        <tbody>
                            {% for rescatado in lista_rescatados %}
                            <tr>
                                <td>
                                    <img class="img-responsive img-thumbnail" src="/media/{{ rescatado.fotografia }}" />
                                    ​
                                </td>
                                <td>{{rescatado.nombre}}</td>
                                <td>{{rescatado.raza_predominante}}</td>
                                <td>{{rescatado.descripcion}}</td>
                                <td>{{rescatado.estado}}</td>
                                <td>
                                    <a class="badge badge-primary" href="eliminarRescatado/{{rescatado.id}}">Borrar</a>
                                    <a class="badge badge-primary" id="editarRescatado" name="editarRescatado" href="editar_rescatado/"
                                        data-toggle="modal" data-target="#modalEditarRescatado" onclick="cargarDatosEditar('{{rescatado.nombre}}','{{rescatado.raza_predominante}}','{{rescatado.descripcion}}','{{rescatado.estado}}','{{rescatado.id}}')">Editar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid my-5">
        <div class="card shadow-lg m-5">
            <div class="card-header bg-success">
                <h2 class="text-center">Agregar nuevo rescatado</h2>
            </div>
            <div class="card-body mx-5">
                <form method="POST" action="{% url 'crearRescatado' %}" id="form_crear_rescatado" name="form_crear_rescatado"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombre">Nombre:</label>
                            <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="raza_predominante">Raza Predominante:</label>
                            <select id="raza_predominante" name="raza_predominante" class="form-control">
                                <option value="default" selected>--Seleccione Raza--</option>
                                <option value="Quiltro">Quiltro</option>
                                <option value="Beagle">Beagle</option>
                                <option value="Boxer">Boxer</option>
                                <option value="Bull Terrier">Bull Terrier</option>
                                <option value="Chihuahua">Chihuahua</option>
                                <option value="Chow Chow">Chow Chow</option>
                                <option value="Dálmata">Dálmata</option>
                                <option value="Dobermann">Dobermann</option>
                                <option value="Fox Terrier">Fox Terrier</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="descripcion">Descripcion:</label>
                            <textarea class="form-control" rows="5" id="descripcion" name="descripcion"></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="estado">Estado:</label>
                            <select id="estado" name="estado" class="form-control">
                                <option value="default" selected>--Seleccione Estado--</option>
                                <option value="Rescatado">Rescatado</option>
                                <option value="Disponible">Disponible</option>
                                <option value="Adoptado">Adoptado</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="foto">Estado:</label>
                            <input id="foto" type="file" class="form-control-file" name="foto">
                        </div>
                    </div>

                    <div class="form-row justify-content-center mt-3">
                        <div class="form-group col-auto text-center">
                            <button class="btn btn-success btn-block" type="submit">Registrar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid footer mt-5">
        <h4>Desarrollo Web y Mobile</h4>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalEditarRescatado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form method="POST" action="{% url 'editar_rescatado' %}" id="form_editar_rescatado" name="form_editar_rescatado"
                    enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modificar Rescatado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nombre_editar">Nombre:</label>
                                <input id="nombre_editar" name="nombre_editar" type="text" class="form-control"
                                    placeholder="Nombre">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="raza_predominante_editar">Raza Predominante:</label>
                                <select id="raza_predominante_editar" name="raza_predominante_editar" class="form-control">
                                    <option value="default" selected>--Seleccione Raza--</option>
                                    <option value="Quiltro">Quiltro</option>
                                    <option value="Beagle">Beagle</option>
                                    <option value="Boxer">Boxer</option>
                                    <option value="Bull Terrier">Bull Terrier</option>
                                    <option value="Chihuahua">Chihuahua</option>
                                    <option value="Chow Chow">Chow Chow</option>
                                    <option value="Dálmata">Dálmata</option>
                                    <option value="Dobermann">Dobermann</option>
                                    <option value="Fox Terrier">Fox Terrier</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="descripcion_editar">Descripcion:</label>
                                <textarea class="form-control" rows="5" id="descripcion_editar" name="descripcion_editar"></textarea>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="estado_editar">Estado:</label>
                                <select id="estado_editar" name="estado_editar" class="form-control">
                                    <option value="default" selected>--Seleccione Estado--</option>
                                    <option value="Rescatado">Rescatado</option>
                                    <option value="Disponible">Disponible</option>
                                    <option value="Adoptado">Adoptado</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="foto_editar">Estado:</label>
                                <input id="foto_editar" type="file" class="form-control-file" name="foto_editar">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="id_rescatado_editar" name="id_rescatado_editar">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Modificar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/validate_mantenedor_admin.js' %}"></script>

</body>

</html>