{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="icon" href="{% static 'img/pata.ico' %}">
    <link rel="manifest" href="/manifest.json" />
    <title>Mis Perris</title>
</head>

<body>
    <header class="d-flex flex-column flex-md-row justify-content-between align-items-center border-bottom bg-success">
        {% include "header.html" %}
    </header>
    <div class="container-fluid verde-claro">

        <div class="row">

            <div class="col-12 col-md-6 col-lg-2 col-xl-3 menu verde">
                <a href="{% url 'index' %}">Inicio</a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 menu verde">
                <a href="#">Quienes somos</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-3 menu verde">
                <a href="#">Servicios</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-3 menu verde">
                <a href="{% url 'rescatados' %}">Rescatados</a>
            </div>
        </div>
    </div>

    <div class="container-fluid my-5">
        <div class="card shadow-lg">
            <div class="card-header bg-success">
                <h2 class="text-center">Lista de Rescatados </h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table my-4">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Raza prodominante</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rescatado in lista_rescatados %} {% if rescatado.estado == "Rescatado" %}
                            <tr>
                                <td>
                                    <img class="img-thumbnail" src="/media/{{ rescatado.fotografia }}" /> ​
                                </td>
                                <td>{{rescatado.nombre}}</td>
                                <td>{{rescatado.raza_predominante}}</td>
                                <td>{{rescatado.descripcion}}</td>
                                <td>{{rescatado.estado}}</td>
                            </tr>
                            {% endif %} {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid my-5">
        <div class="card shadow-lg">
            <div class="card-header bg-success">
                <h2 class="text-center">Lista de Rescatados Disponibles</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table my-4">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Raza prodominante</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Estado</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rescatado in lista_rescatados %} {% if rescatado.estado == "Disponible" %}
                            <tr>
                                <td>
                                    <img class="img-thumbnail" src="/media/{{ rescatado.fotografia }}" /> ​
                                </td>
                                <td>{{rescatado.nombre}}</td>
                                <td>{{rescatado.raza_predominante}}</td>
                                <td>{{rescatado.descripcion}}</td>
                                <td>{{rescatado.estado}}</td>
                                <td>
                                    <a href="#">Adoptar</a>
                                </td>
                            </tr>
                            {% endif %} {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid my-5">
        <div class="card shadow-lg">
            <div class="card-header bg-success">
                <h2 class="text-center">Lista de Rescatados Adoptados</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table my-4">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Raza prodominante</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rescatado in lista_rescatados %} {% if rescatado.estado == "Adoptado" %}

                            <tr>
                                <td>
                                    <img class="img-thumbnail" src="/media/{{ rescatado.fotografia }}" /> ​
                                </td>
                                <td>{{rescatado.nombre}}</td>
                                <td>{{rescatado.raza_predominante}}</td>
                                <td>{{rescatado.descripcion}}</td>
                                <td>{{rescatado.estado}}</td>
                            </tr>
                            {% endif %} {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid footer">
        <h4>Desarrollo Web y Mobile</h4>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

</body>

</html>