{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="icon" href="{% static 'img/pata.ico' %}">
    <link rel="manifest" href="/manifest.json" />
    <title>Mis Perris</title>
</head>

<body>
    <header class="d-flex flex-column flex-md-row justify-content-between align-items-center border-bottom bg-success">
        {% include "header.html" %}
    </header>
    <div class="container-fluid verde-claro">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-2 col-xl-3 menu verde">
                <a href="{% url 'index' %}">Inicio</a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 menu verde">
                <a href="#">Quienes somos</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-3 menu verde">
                <a href="#">Servicios</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-3 menu verde">
                <a href="{% url 'rescatados' %}">Rescatados</a>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5">
        {% if respuesta == 1 %}
        <div class="alert alert-success" role="alert">
            <h3 class="text-center">Se ha realizado el cambio de contraseña correctamente.</h3>
        </div>
        {% elif respuesta == 0 %}
        <div class="alert alert-danger" role="alert">
            <h3 class="text-center">Error al cambiar contraseña, por favor intentelo más tarde.</h3>
        </div>
        {% endif %}
        <div class="form-group row justify-content-center">
            <h1>Restablecer contraseña</h1>
        </div>
    </div>

    <div class="container-fluid">
        <form method="POST" class="form-signin" id="form_restablecer_contrasena" action="{% url 'restablecido' %}">
            {% csrf_token %}

            <div class="form-group row justify-content-center mb-5">
                <div class="col-8 col-xl-6">
                    <label for="nombre_usuario" class="h5">Nombre de usuario a recuperar:</label>
                    <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" placeholder="Nombre de usuario">
                </div>
            </div>

            <h3 class="text-center text-muted mb-4">Responda los siguientes datos para verificar que usted el dueño de
                la cuenta:</h3>

            <div class="form-group row justify-content-center">
                <div class="col-8 col-xl-6">
                    <label for="fname" class="h5">Primer nombre:</label>
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="Primer nombre">
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-8 col-xl-6">
                    <label for="lname" class="h5">Apellido:</label>
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Apellido">
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-8 col-xl-6">
                    <label for="correo" class="h5">Correo:</label>
                    <input type="text" class="form-control" id="correo" name="correo" placeholder="correo@correo.cl">
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-8 col-xl-6">
                    <label for="nueva_contrasena" class="h5">Nueva Contraseña:</label>
                    <input type="password" class="form-control" id="nueva_contrasena" name="nueva_contrasena">
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-8 col-xl-6">
                    <label for="repetir_nueva_contrasena" class="h5">Repetir Nueva Contraseña:</label>
                    <input type="password" class="form-control" id="repetir_nueva_contrasena" name="repetir_nueva_contrasena">
                </div>
            </div>
            <div class="form-group row justify-content-center mt-5">
                <div class="col-auto">
                    <button type="submit" class="btn btn-success btn-block">Verificar informacion</button>
                </div>
            </div>
        </form>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/app_restablecer_contrasena.js' %}"></script>
</body>

</html>