{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="icon" href="{% static 'img/pata.ico' %}">
    <link rel="manifest" href="/manifest.json" />
    <title>Mis Perris</title>
</head>

<body>
    <header class="d-flex flex-column flex-md-row justify-content-between align-items-center border-bottom bg-success">
        {% include "header.html" %}
    </header>
    <div class="container-fluid verde-claro">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-2 col-xl-3 menu verde">
                <a href="{% url 'index' %}">Inicio</a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 menu verde">
                <a href="#">Quienes somos</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-3 menu verde">
                <a href="#">Servicios</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-3 menu verde">
                <a href="{% url 'rescatados' %}">Rescatados</a>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <form method="POST" action="{% url 'crear_usuario' %}">
            {% csrf_token %}
            <div class="form-group row justify-content-center">
                <h1>Registrate</h1>
            </div>
            <!--Username-->
            <div class="form-group row justify-content-center">
                <div class="col-8 col-xl-6">
                    <label for="nombre_usuario" class="h5">Nombre Usuario</label>
                    <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" placeholder="Nombre usuario">
                </div>
            </div>
            <!--password-->
            <div class="form-group row justify-content-center">
                <div class="col-8 col-xl-6">
                    <label for="contrasenia" class="h5">Contraseña</label>
                    <input type="password" class="form-control" id="contrasenia" name="contrasenia" placeholder="Contraseña">
                </div>
            </div>
            <!--Email-->
            <div class="form-group row justify-content-center">
                <div class="col-8 col-xl-6">
                    <label for="email" class="h5">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Correo formato user@domain.xxx">
                </div>
            </div>
            <!--First name-->
            <div class="form-group row justify-content-center">
                <div class="col-8 col-xl-6">
                    <label for="nombre" class="h5">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre de pila">
                </div>
            </div>
            <!--Last name-->
            <div class="form-group row justify-content-center">
                <div class="col-8 col-xl-6">
                    <label for="apellido" class="h5">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido">
                </div>
            </div>
            <!--Enviar formulario-->
            <div class="form-group row justify-content-center mt-5">
                <div class="col-auto">
                    <button type="submit" class="btn btn-success btn-block">Crear usuario</button>
                </div>
            </div>
        </form>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>